﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebsiteTemplate.Master" AutoEventWireup="true" CodeBehind="M-Mentees.aspx.cs" Inherits="WEB_Assignment.M_Mentees" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
