﻿<%@ Page Title="" Language="C#" MasterPageFile="~/WebsiteTemplate.Master" AutoEventWireup="true" CodeBehind="S-CreateProject.aspx.cs" Inherits="WEB_Assignment.S_CreateProject" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
</asp:Content>
